*
!.gitignore

!README.md
!.vscode
!.vscode/*

!docker-compose.yml
!.env.example

!borg/
!borg/etc/
!borg/etc/*
!projo/
!projo/mirror
!qbittorrent/
!qbittorrent/scripts/
!qbittorrent/scripts/*.sh
!qbittorrent/scripts/*.py
!rclone/
!rclone/index.html
!rclone-nfs/
!rclone-nfs/Dockerfile
!rclone-nfs/rclone.sh
!rclone-nfs/supervisord.conf
