services:
  traefik:
    image: traefik:v3.6.8
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=$CLOUDFLARE_DNS_API_TOKEN
    command:
      - --log.level=INFO
      - --accesslog=true
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.docker.defaultRule=Host(`{{ .Name | trimSuffix "-homelab" | normalize }}.$DOMAIN`)
      - --providers.file.directory=/config
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http3=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.email=$ACME_EMAIL
      - --certificatesresolvers.letsencrypt.acme.storage=/config/acme.json
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.volumes/traefik:/config
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      # Dashboard router
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.middlewares=authelia@docker
      - traefik.http.routers.traefik.service=api@internal
      # Root router
      - traefik.http.routers.root.entrypoints=websecure
      - traefik.http.routers.root.rule=Host(`$DOMAIN`)
      - traefik.http.routers.root.middlewares=homepage-redirect@docker
      - traefik.http.routers.root.service=noop@internal
      - traefik.http.middlewares.homepage-redirect.redirectregex.regex=.*
      - traefik.http.middlewares.homepage-redirect.redirectregex.replacement=$HOMEPAGE_REDIRECT_URL
      - traefik.http.middlewares.homepage-redirect.redirectregex.permanent=true
      # Middleware definitions
      - traefik.http.middlewares.cache-control-private.headers.customresponseheaders.Cache-Control=private
      - traefik.http.middlewares.japan7-basic.basicauth.users=$JAPAN7_BASIC_AUTH

  authelia:
    image: authelia/authelia:4.37.5
    environment:
      - AUTHELIA_NOTIFIER_FILESYSTEM_FILENAME=/config/notification.txt
    volumes:
      - ./.volumes/authelia:/config
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.authelia.entrypoints=websecure
      - traefik.http.routers.authelia.rule=Host(`auth.$DOMAIN`)
      - traefik.http.services.authelia-docker.loadbalancer.server.port=9091
      - traefik.http.middlewares.authelia.forwardAuth.address=http://authelia:9091/api/verify?rd=https%3A%2F%2Fauth.${DOMAIN}%2F
      - traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader=true
      - traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email
      - traefik.http.middlewares.authelia-basic.forwardAuth.address=http://authelia:9091/api/verify?auth=basic
      - traefik.http.middlewares.authelia-basic.forwardAuth.trustForwardHeader=true
      - traefik.http.middlewares.authelia-basic.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email

  borg:
    image: b3vis/borgmatic:1.9.14
    hostname: borg
    environment:
      - BORG_REPO_REMOTE=$BORG_REPO_REMOTE
    volumes:
      - ..:/mnt/source:ro # backup source
      - $BORG_REPO:/mnt/borg-repository # backup target
      - ./borg/etc:/etc/borgmatic.d/:ro # borgmatic config file(s) + crontab.txt
      - ./.volumes/borg/config:/root/.config/borg # config and keyfiles
      - ./.volumes/borg/cache:/root/.cache/borg # checksums used for deduplication
      - ../shared/rclone:/root/.config/rclone
    restart: unless-stopped
