services:
  files:
    image: rclone/rclone:1.67.0
    command: serve http $RCLONE_REMOTE --addr :8080 --template /config/rclone/index.html --verbose
    volumes:
      - ../shared/rclone:/config/rclone
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.files.entrypoints=websecure
      - traefik.http.routers.files.middlewares=cache-control-private@docker,japan7-basic@docker
      - traefik.http.services.files-docker.loadbalancer.server.port=8080

  projo:
    image: svenstaro/miniserve:0.28.0-alpine
    command: /html
    volumes:
      - $PROJO_HOST_MOUNT:/html:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.projo.entrypoints=websecure
      - traefik.http.routers.projo.middlewares=cache-control-private@docker,japan7-basic@docker
      - traefik.http.services.projo-docker.loadbalancer.server.port=8080

  projo-dl:
    image: python:3.12.6-alpine
    hostname: $PROJO_HOSTNAME
    entrypoint: crond -f
    volumes:
      - $PROJO_HOST_MOUNT:/projo
      - ./projo:/etc/periodic/hourly:ro
    restart: unless-stopped

  # aoc:
  #   image: denoland/deno:alpine
  #   command:
  #     - run
  #     - -A
  #     - /app/main.ts
  #   volumes:
  #     - ./.volumes/aoc:/app
  #   restart: unless-stopped
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=false
