services:
  files:
    image: rclone/rclone:1.71.0
    command: serve http $RCLONE_REMOTE --addr :8080 --template /config/rclone/index.html --verbose
    volumes:
      - ../shared/rclone:/config/rclone
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.files.entrypoints=websecure
      - traefik.http.routers.files.middlewares=cache-control-private@docker,japan7-basic@docker
      - traefik.http.services.files-docker.loadbalancer.server.port=8080

  projo:
    image: svenstaro/miniserve:0.32.0-alpine
    command: /html
    volumes:
      - $PROJO_HOST_MOUNT:/html:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.projo.entrypoints=websecure
      - traefik.http.routers.projo.middlewares=cache-control-private@docker,japan7-basic@docker
      - traefik.http.services.projo-docker.loadbalancer.server.port=8080

  projo-dl:
    image: python:3.14.1-alpine
    hostname: $PROJO_HOSTNAME
    entrypoint: crond -f
    volumes:
      - $PROJO_HOST_MOUNT:/projo
      - ./projo:/etc/periodic/hourly:ro
    restart: unless-stopped

  minio:
    image: bitnamilegacy/minio:2025.4.22
    environment:
      - MINIO_ROOT_USER=$MINIO_ROOT_USER
      - MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD
      - MINIO_SERVER_URL=https://minio.$DOMAIN
      - MINIO_BROWSER_REDIRECT_URL=https://minio.$DOMAIN/console/
    volumes:
      - ./.volumes/minio:/bitnami/minio/data
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio.entrypoints=websecure
      - traefik.http.routers.minio.service=minio-docker
      - traefik.http.services.minio-docker.loadbalancer.server.port=9000
      - traefik.http.routers.minio-ui.entrypoints=websecure
      - traefik.http.routers.minio-ui.rule=Host(`minio.$DOMAIN`) && PathPrefix(`/console/`)
      - traefik.http.routers.minio-ui.middlewares=minio-stripprefix@docker
      - traefik.http.routers.minio-ui.service=minio-ui-docker
      - traefik.http.services.minio-ui-docker.loadbalancer.server.port=9001
      - traefik.http.middlewares.minio-stripprefix.stripprefix.prefixes=/console/

  registry:
    image: registry:3.0.0
    environment:
      - REGISTRY_AUTH=htpasswd
      - REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd
      - REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm
    volumes:
      - ./.volumes/registry/auth:/auth
      - registry-data:/var/lib/registry
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.registry.entrypoints=websecure
      - traefik.http.routers.registry.service=registry-docker
      - traefik.http.services.registry-docker.loadbalancer.server.port=5000

  aoc:
    image: denoland/deno:alpine
    command:
      - run
      - -A
      - /app/main.ts
    volumes:
      - ./.volumes/aoc:/app
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=false
