[config]
camp.yuru.moe       ansible_become_method=su
nadeshiko.yuru.moe  ansible_become_method=su

[compose]
localhost           ansible_connection=local
camp.yuru.moe       ansible_become_method=su
