include:
  - owntracks.compose.yaml

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:2.4.4
    environment:
      - WEBHOOK_URL=https://n8n.$DOMAIN
    volumes:
      - ./.volumes/n8n:/home/node/.n8n
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.entrypoints=websecure
      - traefik.http.services.n8n-docker.loadbalancer.server.port=5678

  kara:
    image: svenstaro/miniserve:0.32.0-alpine
    command: /html
    volumes:
      - ./.volumes/kara:/html:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.kara.entrypoints=websecure
      - traefik.http.routers.kara.middlewares=cache-control-private@docker
      - traefik.http.services.kara-docker.loadbalancer.server.port=8080

volumes:
  registry-data:
