include:
  - librechat.compose.yaml
  - owntracks.compose.yaml

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:1.122.4
    environment:
      - WEBHOOK_URL=https://n8n.$DOMAIN
    volumes:
      - ./.volumes/n8n:/home/node/.n8n
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.entrypoints=websecure
      - traefik.http.services.n8n-docker.loadbalancer.server.port=5678

  kara:
    image: svenstaro/miniserve:0.32.0-alpine
    command: /html
    volumes:
      - ./.volumes/kara:/html:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.kara.entrypoints=websecure
      - traefik.http.routers.kara.middlewares=cache-control-private@docker
      - traefik.http.services.kara-docker.loadbalancer.server.port=8080

  urara:
    image: ghcr.io/astral-sh/uv:python3.14-trixie
    entrypoint: uvx --from git+https://github.com/NextFire/urara.git@2e62471eca8191eec3e667ed76b7f5c88c825f05 urara
    environment:
      - DISCORD_BOT_TOKEN=$DISCORD_BOT_TOKEN
      - OPENROUTER_API_KEY=$OPENROUTER_API_KEY
      - TAVILY_API_KEY=$TAVILY_API_KEY
    volumes:
      - ~/.kube/config:/root/.kube/config:ro
    restart: unless-stopped

volumes:
  registry-data:
