name: Ansible

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  playbook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Compose play
        uses: dawidd6/action-ansible-playbook@v7
        with:
          playbook: playbook.yaml
          directory: ansible/
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          options: --diff -i hosts.cfg -u root --tags compose
